/* career guidance button start */

.career-guidance-container {
    background-color: #cbaf8e;

    padding-bottom: 2%;
}

.career-guidance-text {
    color: #3a3b1b;

    font-family: 'Inter', sans-serif;
    font-size: 2em;
    font-weight: 600;

    padding-top: 2%;
    text-align: center;
}

.career-guidance-btn {

    background-color: #3a3b1b;
    border: 1px solid #3a3b1b;
    border-radius: 30px;
    color: #e9e1dc;
    cursor: pointer;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.7em;
    margin: 0 auto;
    outline: none;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition: 1s;
    user-select: none;
    -webkit-user-select: none;
    /*width: 303px;*/
}

.career-guidance-btn:hover {
    border: 1px solid #121308;
}

/* career guidance button end */

/* links block start */
.links-container {
    background-color: #3a3b1b;
    color: #e9e1dc;

    font-family: "Inter", sans-serif;
    font-style: italic;

    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

.links-text {
    width: 30%;
}

.links-list {
    padding-top: 1%;
    padding-left: 5%;
}

.links-list li {
    display: inline;
}

.links-list-element a {
    text-decoration: none;
    color: #e9e1dc;

    font-style: normal;
    font-weight: 600;
    font-size: 1.5em;
}

.links-list-element a:hover {
    color: #cbaf8e;
}

.links-list-element a {
    transition: 1s;
}

/* links block end */